@media only screen and (max-width: 992px) {
  header {
    .top-header {
      .container {
        max-width: inherit;
        padding: inherit !important;
        margin: inherit;
        padding: 10px 15px !important;
      }
      .right-top-header {
        .right-top-ul {
          display: none;
        }
        .dropdown-links-mobile {
          display: block !important;
        }
      }
    }
    .middle-header {
      .menu-mobile-sidebar {
        display: block;
        position: absolute;
        top: 0 !important;
        left: -45vh;
        z-index: 33333;
        background-color: #fff;
        width: 45vh !important;
        resize: both;
        height: 100vh;
        transition: left 0.1s ease;
        .x-logo-div {
          text-align: end;
          padding: 25px;
          .x-logo {
            font-size: 20px;
            color: #bdbdbd;
          }
        }
        .search-div-sidebar {
          width: 65%;
          margin: auto;

          .input-search-sidebar {
            border: 1px solid #d1d1d1;
            outline: none;
            padding: 9px 35px;
            width: 100%;
            &:focus {
              border-color: #d19c40;
            }
          }
          .search-logo-div {
            background-color: #d19c40;
            color: #fff;
            padding: 10px 15px;
            cursor: pointer;
          }
        }
        .tabs-sidebar {
          .tabcontent {
            display: none;
            padding: 6px 0;
            border-top: none;
            text-align: center;
            hr {
              margin: 0;
              padding: 0;
              color: #898686;
            }
            .tab1-icons {
              margin-top: 30px;
              .all-tab1-icons {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                a {
                  text-decoration: none;
                  color: #808080;
                  padding: 19px;
                  border: 1px solid #808080;
                  border-radius: 50%;
                  position: relative;
                  &:hover {
                    color: #d19c40;
                    transition: 0.5s;
                  }
                  i {
                    position: absolute;
                    top: 50%;
                    font-size: 14px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                }
              }
            }
            .all-tab2 {
              margin-top: 10px;
              ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding-left: 0;

                li {
                  text-align: left !important;
                  a {
                    text-decoration: none;
                    color: #666;
                    font-weight: 200;
                    font-size: 17px;
                    padding-left: 30px;
                    &:hover {
                      color: #d19c40;
                      transition: 0.5s;
                    }
                  }
                }
                hr {
                  margin: 0;
                  padding: 0;
                  color: #898686;
                }
              }
            }
            .accordion {
              .accordion-item {
                border: none !important;
                outline: none !important;
              }
              .accordion-button {
                font-weight: 200;
                color: #666;
                padding-left: 30px;
                &:not(.collapsed) {
                  border: none !important;
                  color: #d19c40;
                  background-color: #fff;
                }
                &:focus {
                  outline: none;
                  box-shadow: none;
                }
              }
              .accordion-body {
                ul {
                  list-style-type: none;
                  margin-bottom: 0;
                  padding-left: 0;
                  display: flex;
                  flex-direction: column;
                  gap: 25px;
                  li {
                    text-align: left;
                    a {
                      text-decoration: none;
                      color: #666;
                      font-weight: 200;
                      padding: 0 30px;
                      &:hover {
                        color: #d19c40;
                        transition: 0.5s;
                      }
                    }
                  }
                }
              }
            }
          }
          .tab {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: 0.4px solid #bdbdbd;
            button {
              background-color: inherit;
              border: none;
              outline: none;
              cursor: pointer;
              padding: 10px 20px;
              transition: 0.3s;
              font-size: 17px;
              font-weight: 600;
            }
            .active {
              color: #d19c40 !important;
              z-index: 44444;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                top: 45px;
                left: 0px;
                width: 100%;
                height: 3px;
                background-color: #d19c40;
              }
            }
          }
        }
      }
      .container {
        max-width: inherit;
        padding: inherit !important;
        margin: inherit;
        padding: 10px 15px !important;
        .middle-middle-header {
          display: none;
        }
        .left-middle-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .menu-responsive {
            display: block;
            margin-right: 10px;
          }
        }
      }
    }
    .bottom-header {
      display: none;
    }
  }

  .slider-section {
    .container {
      max-width: inherit;
      padding: inherit !important;
      margin: inherit;
      padding: 10px 15px !important;
      .all-slider-section {
        flex-direction: column;
      }
      .all-right-slider-section {
        justify-content: center !important;
        margin-top: 20px;
        gap: 20px;
        img {
          width: 100%;
        }
      }
    }
  }
  .shipping {
    .all-shipping {
      .shipping-text {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        .left-shipping-text {
          text-align: center !important;
        }
      }
      .shipping-hr {
        display: none;
      }
      .right-shipping-text {
        flex-direction: column;
        align-items: center !important;
        gap: 15px !important;
        .shipping-a {
          width: 70%;
        }
      }
    }
  }

  .deal .bottom-deal {
    flex-direction: column;
    .right-bottom-deal {
      justify-content: center;
    }
  }
  .trending {
    .all-trending {
      flex-direction: column;
      .all-left-trending {
        .bottom-all-left-trend {
          display: none;
        }
        .top-all-left-trend {
          text-align: center;
        }
      }
      .tab-trending {
        align-items: center !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
      }
    }
  }
  .returns {
    .all-returs {
      row-gap: 30px;
    }
  }
  .social {
    .social-text {
      flex-direction: column;
      gap: 20px;
      .social-hr {
        display: none;
      }
    }
  }
  footer {
    .all-footer {
      .top-footer {
        flex-direction: column !important;
        .left-0-top {
          img {
            width: 20%;
          }
        }
      }
      .bottom-footer {
        flex-direction: column;
        gap: 10px;
      }
    }
  }
  .list-main {
    .container {
      max-width: inherit;
      padding: inherit !important;
      margin: inherit;
      padding: 10px 0 !important;
    }
    .box-right-list {
      align-items: center;
    }
    .left-list-main {
      display: none !important;
    }
  }
  .detail-main {
    .all-detail-main {
      gap: 20px;
      .all-left-detail {
        flex-direction: column;
        .left-left-detail {
          display: flex !important;
          flex-direction: row !important;
          order: 2;
        }
      }
    }
  }
  .detail-slider {
    .all-detail-slider {
      .all-boxes-detail {
        flex-wrap: wrap !important;
        row-gap: 20px;
        align-items: center !important;
        .box-slider-detail {
          width: 45% !important;
        }
      }
    }
  }
  .checkout-main {
    .top-check-main {
      .input-check {
        width: 100% !important;
      }
    }
    .bottom-check-main {
      flex-direction: column;
    }
  }
  .login {
    .all-login {
      width: 80% !important;
    }
  }
  .design {
    .all-design {
      flex-direction: column;
      .box-design {
      }
    }
  }
  .happy{
    .all-happy{
      flex-wrap: wrap !important;
      padding: 0;
      flex-direction: row !important;
      gap: 2px !important;
    }
  }
  .office{
    .all-office{
      flex-direction: column !important;
      gap: 30px;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    .top-header {
      .container {
        max-width: inherit;
        padding: inherit !important;
        margin: inherit;
        padding: 10px !important;
      }
      .right-top-header {
        .right-top-ul {
          display: none;
        }
        .dropdown-links-mobile {
          display: block !important;
        }
      }
    }
    .middle-header {
      .container {
        max-width: inherit;
        padding: inherit !important;
        margin: inherit;
        padding: 10px !important;
        .middle-middle-header {
          display: none;
        }
      }
    }
  }

  .list-main {
    .right-list-main {
      .box-right-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .left-right-list-box {
        display: flex;
        justify-content: center !important;
        width: 50% !important;
      }
      .center-right-list-box {
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        display: block !important;
        width: 50% !important;
      }
      .right-right-list-box {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 50% !important;
      }
    }
  }
  .detail-main {
    .all-detail-main {
      flex-direction: column;
      gap: 20px;
      .all-left-detail {
        .left-left-detail {
        }
      }
    }
  }
  .login {
    .all-login {
      width: 100% !important;
      .social-login {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .featured {
    .all-featured {
      .all-featured-tab {
        .tablinks-featured {
          font-size: 1rem;
        }
      }
    }
  }
  .list-main {
    .top-right-list {
      flex-direction: column;
      gap: 10px;
    }
    .right-list-main {
      .box-right-list {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
      }
      .left-right-list-box {
        display: flex;
        justify-content: center !important;
        width: 100% !important;
      }
      .center-right-list-box {
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        display: block !important;
        width: 100% !important;
      }
      .right-right-list-box {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
      }
    }
  }
  .detail-slider {
    .all-detail-slider {
      .all-boxes-detail {
        flex-wrap: wrap !important;
        row-gap: 20px;
        align-items: center !important;
        .box-slider-detail {
          width: 100% !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  header {
    .middle-header {
      .container {
        .right-middle-header {
          .compare,
          .wishlist {
            display: none !important;
          }
        }
      }
    }
  }
}
