@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header .top-header {
  background-color: #333333;
}
header .top-header .border-hr {
  border-bottom: 1px solid rgba(145, 144, 144, 0.283);
}
header .top-header .left-top-header {
  margin-bottom: 8px;
}
header .top-header .left-top-header a {
  text-decoration: none;
  color: #9a9a9a;
  font-size: 14px;
  font-weight: 200;
}
header .top-header .right-top-header {
  display: flex;
  margin-bottom: 8px;
}
header .top-header .right-top-header .dropdown-links-mobile {
  display: none !important;
  position: relative;
  display: inline-block;
  height: 20px;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links {
  display: block;
  display: relative;
  left: -90px;
  padding: 10px;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .lang-li {
  position: relative;
  border: none;
  font-size: 13px;
  background-color: #f1f1f1;
  color: #b8b8b8;
  font-weight: 300;
  cursor: pointer;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .lang-li:hover {
  color: #d19c40;
  transition: 0.5s;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .lang-li:hover + .langDrop {
  display: block;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .usd-li {
  position: relative;
  border: none;
  font-size: 13px;
  background-color: #f1f1f1;
  color: #b8b8b8;
  font-weight: 300;
  cursor: pointer;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .usd-li:hover {
  color: #d19c40;
  transition: 0.5s;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .usd-li:hover + .usdDrop {
  display: block;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .dropdown-usd {
  position: relative;
  display: inline-block;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .dropdown-usd:hover .dropdown-content-usd {
  display: block;
  position: relative;
  left: -80px;
  top: -20px;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .right-top-ul-usd {
  height: 20px;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .dropdown-lang {
  position: relative;
  display: inline-block;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .dropdown-lang:hover .dropdown-content-lang {
  display: block;
  position: relative;
  left: -97px;
  top: -20px;
}
header .top-header .right-top-header .dropdown-links-mobile:hover .dropdown-content-links .right-top-ul-lang {
  height: 25px;
}
header .top-header .right-top-header .dropdown-links-mobile .dropbtn-links {
  position: relative;
  border: none;
  font-size: 13px;
  background-color: #333333;
  color: #9a9a9a;
  font-weight: 300;
  cursor: pointer;
}
header .top-header .right-top-header .dropdown-links-mobile .dropbtn-links:hover {
  color: #d19c40;
  transition: 0.5s;
}
header .top-header .right-top-header .dropdown-links-mobile .dropbtn-links:hover + .dropdown-content-links {
  display: block;
}
header .top-header .right-top-header .dropdown-links-mobile .dropdown-content-links {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .top-header .right-top-header .right-top-ul {
  display: flex;
  align-items: center;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  gap: 30px;
}
header .top-header .right-top-header li {
  font-size: 14px;
  color: #9a9a9a;
  list-style: none;
  font-weight: 200;
}
header .top-header .right-top-header .right-top-ul-usd .usd-li {
  position: relative;
  border: none;
  font-size: 13px;
  background-color: #333333;
  color: #9a9a9a;
  font-weight: 300;
  cursor: pointer;
}
header .top-header .right-top-header .right-top-ul-usd .usd-li:hover {
  color: #d19c40;
  transition: 0.5s;
}
header .top-header .right-top-header .right-top-ul-usd .usd-li:hover + .usdDrop {
  display: block;
}
header .top-header .right-top-header .usdDrop {
  position: absolute;
  display: none;
  top: 35px;
  background-color: #fff;
  width: 50px;
}
header .top-header .right-top-header .usdDrop ul {
  padding-left: 10mpx;
  color: #b8b8b8;
  margin-top: 10px;
  padding-bottom: 0 !important;
}
header .top-header .right-top-header .right-top-ul-lang .lang-li {
  position: relative;
  border: none;
  font-size: 13px;
  background-color: #333333;
  color: #9a9a9a;
  font-weight: 300;
  cursor: pointer;
}
header .top-header .right-top-header .right-top-ul-lang .lang-li:hover {
  color: #d19c40;
  transition: 0.5s;
}
header .top-header .right-top-header .right-top-ul-lang .lang-li:hover + .langDrop {
  display: block;
}
header .top-header .right-top-header .right-top-ul-lang .langDrop {
  position: absolute;
  display: none;
  top: 35px;
  background-color: #fff;
  width: 70px;
}
header .top-header .right-top-header .langDrop ul {
  list-style: none;
  padding-left: 10px;
  color: #b8b8b8;
  margin-top: 10px;
}
header .top-header .right-top-header .sing-log {
  text-decoration: none;
  color: #b8b8b8;
  font-size: 13px;
  font-weight: 300;
}
header .top-header .right-top-header .sing-log:hover {
  color: #d19c40 !important;
  transition: 0.5s;
}
header .dropdown-usd {
  position: relative;
  display: inline-block;
}
header .dropdown-usd:hover .dropdown-content-usd {
  display: block;
}
header .dropdown-content-usd {
  display: none;
  position: absolute;
  top: 33px;
  background-color: #f1f1f1;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .dropdown-content-usd a {
  color: #a4a4a4;
  font-size: 14px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .dropdown-content-usd a:hover {
  background-color: #ddd;
  color: #d19c40;
  transition: 0.5s;
}
header .dropdown-content-lang a:hover {
  background-color: #ddd;
  color: #d19c40;
  transition: 0.5s;
}
header .dropdown-lang {
  position: relative;
  display: inline-block;
}
header .dropdown-lang:hover .dropdown-content-lang {
  display: block;
}
header .dropdown-content-lang {
  display: none;
  position: absolute;
  top: 33px;
  background-color: #f1f1f1;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .dropdown-content-lang a {
  color: #a4a4a4;
  font-size: 14px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .middle-header {
  background-color: #333333;
}
header .middle-header .menu-mobile-sidebar {
  display: none;
}
header .middle-header .all-middle-header .left-middle-header .menu-responsive {
  display: none;
}
header .middle-header .all-middle-header .left-middle-header .menu-responsive i {
  color: #fff;
  font-size: 25px;
  margin-top: 8px;
}
header .middle-header .all-middle-header .left-middle-header .logo {
  cursor: pointer;
}
header .middle-header .all-middle-header .middle-middle-header .search-div {
  border: 1px solid #333;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
}
header .middle-header .all-middle-header .middle-middle-header .search-div .logo-search {
  color: #656565;
  cursor: pointer;
}
header .middle-header .all-middle-header .middle-middle-header .search-div .logo-search:hover {
  color: #d19c40;
  transition: 0.5s;
}
header .middle-header .all-middle-header .middle-middle-header .search-div .input-search {
  border: none;
  outline: none;
  color: #656565;
  font-size: 14px;
  width: 85%;
}
header .middle-header .all-middle-header .middle-middle-header .search-div .input-search::-moz-placeholder {
  color: #656565;
  font-size: 14px;
}
header .middle-header .all-middle-header .middle-middle-header .search-div .input-search::placeholder {
  color: #656565;
  font-size: 14px;
}
header .middle-header .all-middle-header .right-middle-header i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
header .middle-header .all-middle-header .right-middle-header i:hover {
  color: #d19c40;
  transition: 0.5s;
}
header .middle-header .all-middle-header .right-middle-header span {
  color: #b2b2b2;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}
header .middle-header .all-middle-header .right-middle-header .wishlist {
  position: relative;
}
header .middle-header .all-middle-header .right-middle-header .wishlist .whish-count {
  position: absolute;
  background-color: #d19c40;
  padding: 2px 6.5px;
  font-size: 10px;
  border-radius: 50%;
  right: 0;
  top: -5px;
  cursor: pointer;
}
header .middle-header .all-middle-header .right-middle-header .cart {
  position: relative;
}
header .middle-header .all-middle-header .right-middle-header .cart .cart-count {
  position: absolute;
  background-color: #d19c40;
  padding: 2px 6.5px;
  font-size: 10px;
  border-radius: 50%;
  left: 19px;
  top: -5px;
  cursor: pointer;
}
header .bottom-header .all-bottom-header-hr {
  margin: 0;
}
header .bottom-header .all-bottom-header .bottom-hr-left {
  width: 1px;
  height: 20px;
  background-color: #656565;
  margin: 0;
  padding: 0;
}
header .bottom-header .all-bottom-header .left-bottom-header {
  cursor: pointer;
  padding: 15px 0;
}
header .bottom-header .all-bottom-header .left-bottom-header .dropdown-bottom-header {
  position: relative;
}
header .bottom-header .all-bottom-header .left-bottom-header .dropdown-bottom-header .categories .left-categories .bars-bottom-header {
  font-size: 20px;
}
header .bottom-header .all-bottom-header .left-bottom-header .dropdown-bottom-header .categories .left-categories .categories-text {
  font-size: 14px;
}
header .bottom-header .all-bottom-header .left-bottom-header .dropdown-bottom-header .dropdown-content-header {
  display: none;
  top: 45px;
  position: absolute;
  width: 100%;
  z-index: 333333;
}
header .bottom-header .all-bottom-header .left-bottom-header .dropdown-bottom-header .dropdown-content-header .all-dropdown-header {
  background-color: #fff;
  border: 1px solid rgba(137, 134, 134, 0.3960784314);
}
header .bottom-header .all-bottom-header .left-bottom-header .dropdown-bottom-header .dropdown-content-header .all-dropdown-header ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 0;
  margin-bottom: 0;
}
header .bottom-header .all-bottom-header .left-bottom-header .dropdown-bottom-header .dropdown-content-header .all-dropdown-header ul li {
  text-align: left !important;
}
header .bottom-header .all-bottom-header .left-bottom-header .dropdown-bottom-header .dropdown-content-header .all-dropdown-header ul li a {
  text-decoration: none;
  color: #666;
  font-weight: 200;
  font-size: 13px;
  padding-left: 25px;
}
header .bottom-header .all-bottom-header .left-bottom-header .dropdown-bottom-header .dropdown-content-header .all-dropdown-header ul li a:hover {
  color: #d19c40;
  transition: 0.5s;
}
header .bottom-header .all-bottom-header .left-bottom-header .dropdown-bottom-header .dropdown-content-header .all-dropdown-header ul hr {
  margin: 0;
  padding: 0;
  color: #898686;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-home-drop-down .all-home-drop-down-all {
  display: none;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-home-drop-down .all-home-drop-down-all .home-dropdown-content {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  z-index: 333333;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-home-drop-down .all-home-drop-down-all .home-dropdown-content .home-drop-button {
  text-decoration: none;
  color: #fcb941;
  font-weight: 300;
  border: 1px solid #fcb941;
  padding: 10px;
  font-size: 14px;
  transition: 0.5s;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-home-drop-down .all-home-drop-down-all .home-dropdown-content .home-drop-button i {
  margin-left: 10px;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-home-drop-down .all-home-drop-down-all .home-dropdown-content .home-drop-button:hover {
  color: #fff;
  background-color: #fcb941;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-home-drop-down .all-home-drop-down-all .home-dropdown-content .home-drop-text {
  color: #333;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-home-drop-down .all-home-drop-down-all .home-dropdown-content .all-dropdown-boxes .dropdown-box .top-box {
  cursor: pointer;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-home-drop-down .all-home-drop-down-all .home-dropdown-content .all-dropdown-boxes .dropdown-box .top-box .top-box-img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
  border: 1px solid rgba(102, 102, 102, 0.3333333333);
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-home-drop-down .all-home-drop-down-all .home-dropdown-content .all-dropdown-boxes .dropdown-box .bottom-box-text {
  font-weight: 300;
  font-size: 13px;
  color: #666;
  letter-spacing: 0.01em;
  transition: 0.5s;
  cursor: pointer;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-home-drop-down .all-home-drop-down-all .home-dropdown-content .all-dropdown-boxes .dropdown-box .bottom-box-text:hover {
  color: #fcb941;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all {
  display: none;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all .all-shop-dropdown-content {
  background-color: #fff;
  position: absolute;
  top: 198px;
  padding: 0 0 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 333333;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all .all-shop-dropdown-content .left-shop-dropdown .shop-new,
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all .all-shop-dropdown-content .right-shop-dropdown .shop-new {
  color: #fff;
  font-size: 10px;
  background-color: #a5c76c;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all .all-shop-dropdown-content .left-shop-dropdown .shop-hot,
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all .all-shop-dropdown-content .right-shop-dropdown .shop-hot {
  color: #fff;
  font-size: 10px;
  background-color: #ef827b;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all .all-shop-dropdown-content .left-shop-dropdown .shop-ul,
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all .all-shop-dropdown-content .right-shop-dropdown .shop-ul {
  padding-left: 0;
  gap: 10px;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all .all-shop-dropdown-content .left-shop-dropdown .shop-ul a,
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all .all-shop-dropdown-content .right-shop-dropdown .shop-ul a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.4392156863);
  font-size: 14px;
  transition: 0.5s;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all .all-shop-dropdown-content .left-shop-dropdown .shop-ul a:hover,
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-shop-drop-down .all-shop-drop-down-all .all-shop-dropdown-content .right-shop-dropdown .shop-ul a:hover {
  color: #fcb941;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .bottom-header-ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .bottom-header-ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .bottom-header-ul li:hover {
  color: #fcb941;
  transition: 0.5s;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .bottom-header-ul li.active {
  color: #fcb941;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .bottom-header-ul li.active::after {
  content: "";
  width: 100%;
  height: 2px;
  top: 41px;
  left: 0;
  position: absolute;
  background-color: #fcb941;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-product-drop-down .all-prod-drop-down-all {
  display: none;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-product-drop-down .all-prod-drop-down-all .all-prod-dropdown-content {
  background-color: #fff;
  position: absolute;
  top: 198px;
  padding: 0 0 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 333333;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-product-drop-down .all-prod-drop-down-all .all-prod-dropdown-content .new-prod {
  color: #fff;
  font-size: 10px;
  background-color: #a5c76c;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-product-drop-down .all-prod-drop-down-all .all-prod-dropdown-content .prod-ul {
  padding-left: 0;
  gap: 10px;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-product-drop-down .all-prod-drop-down-all .all-prod-dropdown-content .prod-ul a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.4392156863);
  font-size: 14px;
  transition: 0.5s;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-product-drop-down .all-prod-drop-down-all .all-prod-dropdown-content .prod-ul a:hover {
  color: #fcb941;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-pages-drop-down .all-pages-drop-down-all {
  display: none;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-pages-drop-down .all-pages-drop-down-all .all-pages-dropdown-content {
  background-color: #fff;
  position: absolute;
  top: 198px;
  padding: 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 333333;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-pages-drop-down .all-pages-drop-down-all .all-pages-dropdown-content .pages-ul {
  padding-left: 0;
  gap: 10px;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-pages-drop-down .all-pages-drop-down-all .all-pages-dropdown-content .pages-ul a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.4392156863);
  font-size: 14px;
  transition: 0.5s;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-pages-drop-down .all-pages-drop-down-all .all-pages-dropdown-content .pages-ul a:hover {
  color: #fcb941;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-blog-drop-down .all-blog-drop-down-all {
  display: none;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-blog-drop-down .all-blog-drop-down-all .all-blog-dropdown-content {
  background-color: #fff;
  position: absolute;
  top: 198px;
  padding: 0 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 333333;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-blog-drop-down .all-blog-drop-down-all .all-blog-dropdown-content .blog-ul {
  padding-left: 0;
  gap: 10px;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-blog-drop-down .all-blog-drop-down-all .all-blog-dropdown-content .blog-ul a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.4392156863);
  font-size: 14px;
  transition: 0.5s;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-blog-drop-down .all-blog-drop-down-all .all-blog-dropdown-content .blog-ul a:hover {
  color: #fcb941;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-elements-drop-down .all-elements-drop-down-all {
  display: none;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-elements-drop-down .all-elements-drop-down-all .all-elements-dropdown-content {
  background-color: #fff;
  position: absolute;
  top: 198px;
  padding: 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 333333;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-elements-drop-down .all-elements-drop-down-all .all-elements-dropdown-content .elements-ul {
  padding-left: 0;
  gap: 10px;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-elements-drop-down .all-elements-drop-down-all .all-elements-dropdown-content .elements-ul a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.4392156863);
  font-size: 14px;
  transition: 0.5s;
}
header .bottom-header .all-bottom-header .center-bottom-header .all-center-bottom-header .all-elements-drop-down .all-elements-drop-down-all .all-elements-dropdown-content .elements-ul a:hover {
  color: #fcb941;
}
header .bottom-header .all-bottom-header .bottom-hr-right {
  width: 1px;
  height: 20px;
  background-color: #656565;
  margin: 0;
  padding: 0;
}
header .bottom-header .all-bottom-header .right-bottom-header .all-right-bottom-header .all-right-bottom-header-text-left {
  font-size: 14px;
  color: #777;
}
header .bottom-header .all-bottom-header .right-bottom-header .all-right-bottom-header .all-right-bottom-header-text-right {
  font-size: 14px;
}

.slider-section .carousel {
  background: #eee;
}
.slider-section .carousel .flickity-page-dots {
  display: none;
}
.slider-section .carousel .first-img-div {
  position: relative;
  width: 100%;
  height: 450px;
}
.slider-section .carousel .first-img-div .img-1 {
  width: 100%;
  height: 450px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
.slider-section .carousel .first-img-div .img-1::before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.slider-section .carousel .first-img-div .img-1-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
}
.slider-section .carousel .first-img-div .img-1-text .img1-span {
  color: #fcb941;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}
.slider-section .carousel .first-img-div .img-1-text .img1-h1 {
  font-weight: 700;
  color: #333;
  line-height: 1.2;
}
.slider-section .carousel .first-img-div .img-1-text .img1-today {
  font-weight: 300;
  font-size: 20px;
  color: #333;
  margin-right: 5px;
}
.slider-section .carousel .first-img-div .img-1-text .img1-price {
  color: #fcb941;
  font-size: 2rem;
  font-weight: 700;
}
.slider-section .carousel .first-img-div .img-1-text .click-btn-a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #fcb941;
  padding: 15px 0;
  width: 70%;
  border-radius: 30px;
  font-size: 14px;
  transition: 0.5s;
}
.slider-section .carousel .first-img-div .img-1-text .click-btn-a:hover {
  background-color: #b78426;
}
.slider-section .carousel .second-img-div {
  position: relative;
  width: 100%;
  height: 450px;
}
.slider-section .carousel .second-img-div .img-2 {
  width: 100%;
  height: 450px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
.slider-section .carousel .second-img-div .img-2::before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.slider-section .carousel .second-img-div .img-2-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(40%, -50%);
}
.slider-section .carousel .second-img-div .img-2-text .img2-span {
  color: #fcb941;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}
.slider-section .carousel .second-img-div .img-2-text .img2-h1 {
  font-weight: 700;
  color: #333;
  line-height: 1.2;
}
.slider-section .carousel .second-img-div .img-2-text .img2-today {
  font-weight: 300;
  font-size: 20px;
  color: #333;
  margin-right: 5px;
}
.slider-section .carousel .second-img-div .img-2-text .img2-price {
  color: #fcb941;
  font-size: 2rem;
  font-weight: 700;
}
.slider-section .carousel .second-img-div .img-2-text .click-btn-a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #fcb941;
  padding: 15px 0;
  width: 60%;
  border-radius: 30px;
  font-size: 14px;
  transition: 0.5s;
}
.slider-section .carousel .second-img-div .img-2-text .click-btn-a:hover {
  background-color: #b78426;
}
.slider-section .all-right-slider-section img {
  width: 430px;
}
.slider-section .all-right-slider-section .top-slider-section {
  position: relative;
}
.slider-section .all-right-slider-section .top-slider-section .right-top-slider-text {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
.slider-section .all-right-slider-section .top-slider-section .right-top-slider-text .right-span-slider {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4980392157);
  padding-left: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.slider-section .all-right-slider-section .top-slider-section .right-top-slider-text .right-span-slider:hover {
  color: #fcb941;
}
.slider-section .all-right-slider-section .top-slider-section .right-top-slider-text .edif-slider-right {
  font-weight: 600;
  padding-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.slider-section .all-right-slider-section .top-slider-section .right-top-slider-text .edif-slider-right:hover {
  color: #fcb941;
}
.slider-section .all-right-slider-section .top-slider-section .right-top-slider-text .shop-slider-btn {
  text-decoration: none;
  color: #fcb941;
  padding: 5px;
  font-size: 14px;
  transition: 0.5s;
  width: 70%;
}
.slider-section .all-right-slider-section .top-slider-section .right-top-slider-text .shop-slider-btn:hover {
  background-color: #fcb941;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
}
.slider-section .all-right-slider-section .center-slider-section {
  position: relative;
}
.slider-section .all-right-slider-section .center-slider-section .right-center-slider-text {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
.slider-section .all-right-slider-section .center-slider-section .right-center-slider-text .right-center-span-slider-1 {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4980392157);
  padding-left: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.slider-section .all-right-slider-section .center-slider-section .right-center-slider-text .right-center-span-slider-1:hover {
  color: #fcb941;
}
.slider-section .all-right-slider-section .center-slider-section .right-center-slider-text .edif-center-slider-right {
  font-weight: 600;
  padding-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.slider-section .all-right-slider-section .center-slider-section .right-center-slider-text .edif-center-slider-right:hover {
  color: #fcb941;
}
.slider-section .all-right-slider-section .center-slider-section .right-center-slider-text .right-center-span-slider-2 {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4980392157);
  padding-left: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.slider-section .all-right-slider-section .center-slider-section .right-center-slider-text .right-center-span-slider-2:hover {
  color: #fcb941;
}
.slider-section .all-right-slider-section .center-slider-section .right-center-slider-text .shop-center-slider-btn {
  text-decoration: none;
  color: #fcb941;
  padding: 5px;
  font-size: 14px;
  transition: 0.5s;
  width: 57%;
}
.slider-section .all-right-slider-section .center-slider-section .right-center-slider-text .shop-center-slider-btn:hover {
  background-color: #fcb941;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
}
.slider-section .all-right-slider-section .bottom-slider-section {
  position: relative;
}
.slider-section .all-right-slider-section .bottom-slider-section .right-bottom-slider-text {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
.slider-section .all-right-slider-section .bottom-slider-section .right-bottom-slider-text .right-bottom-span-slider {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4980392157);
  padding-left: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.slider-section .all-right-slider-section .bottom-slider-section .right-bottom-slider-text .right-bottom-span-slider:hover {
  color: #fcb941;
}
.slider-section .all-right-slider-section .bottom-slider-section .right-bottom-slider-text .edif-bottom-slider-right {
  font-weight: 600;
  padding-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.slider-section .all-right-slider-section .bottom-slider-section .right-bottom-slider-text .edif-bottom-slider-right:hover {
  color: #fcb941;
}
.slider-section .all-right-slider-section .bottom-slider-section .right-bottom-slider-text .right-bottom-span-slider-2 {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4980392157);
  padding-left: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.slider-section .all-right-slider-section .bottom-slider-section .right-bottom-slider-text .right-bottom-span-slider-2:hover {
  color: #fcb941;
}
.slider-section .all-right-slider-section .bottom-slider-section .right-bottom-slider-text .shop-bottom-slider-btn {
  text-decoration: none;
  color: #fcb941;
  padding: 5px;
  font-size: 14px;
  transition: 0.5s;
  width: 80%;
}
.slider-section .all-right-slider-section .bottom-slider-section .right-bottom-slider-text .shop-bottom-slider-btn:hover {
  background-color: #fcb941;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
}

.featured .all-featured .all-featured-tab {
  overflow: hidden;
  text-align: center;
}
.featured .all-featured .all-featured-tab .tablinks-featured {
  background-color: inherit;
  border: none;
  outline: none;
  color: #ccc;
  cursor: pointer;
  padding: 5px 20px;
  transition: 0.3s;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 30px 0;
}
.featured .all-featured .all-featured-tab .tablinks-featured:hover {
  border-bottom: 1px solid #333;
  color: #fcb941;
}
.featured .all-featured .all-featured-tab .tablinks-featured.active {
  border-bottom: 1px solid;
  color: #333;
}
.featured .all-featured .all-featured-tab .tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  text-align: center;
}
.featured .all-featured .owl-carousel .item {
  border: 1px solid rgba(101, 101, 101, 0.3176470588);
  position: relative;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item:hover .all-sec-hover {
  opacity: 1;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item:hover .whislist-icon {
  opacity: 1;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .new-top .new-pos-box-item {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 13px;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A5C76C;
  padding: 15px 10px;
  border-radius: 50%;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .new-top .top-pos-box-item {
  position: absolute;
  top: 13%;
  left: 5%;
  font-size: 13px;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7DD2EA;
  padding: 15px 10px;
  border-radius: 50%;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .all-sec-hover {
  opacity: 0;
  transition: 0.5s;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .all-sec-hover .basket-sec-hover {
  background-color: #333;
  height: 40px;
  width: 100%;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .all-sec-hover .basket-sec-hover .left-basket-hover i {
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .all-sec-hover .basket-sec-hover .left-basket-hover i:hover {
  color: #fcb941;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .all-sec-hover .basket-sec-hover .hr-basket-hover {
  width: 2px;
  margin: 0;
  padding: 0;
  height: 25px;
  background-color: #fff;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .all-sec-hover .basket-sec-hover .right-basket-hover i {
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .all-sec-hover .basket-sec-hover .right-basket-hover i:hover {
  color: #fcb941;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .whislist-icon {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #fcb941;
  padding: 15px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 3333;
  cursor: pointer;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .whislist-icon:hover + .whislist-text {
  opacity: 1;
}
.featured .all-featured .owl-carousel .item .all-box-item .top-box-item .whislist-text {
  opacity: 0;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 12px;
  background-color: #fcb941;
  padding: 6px 30px 6px 5px;
  border-radius: 20px;
  transition: 0.5s;
}
.featured .all-featured .owl-carousel .item .all-box-item .bottom-box-item {
  padding: 5px;
}
.featured .all-featured .owl-carousel .item .all-box-item .bottom-box-item .bottom-box-p {
  color: #ccc;
  font-size: 13px;
  margin-bottom: 0;
  cursor: pointer;
}
.featured .all-featured .owl-carousel .item .all-box-item .bottom-box-item .bottom-box-title {
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
.featured .all-featured .owl-carousel .item .all-box-item .bottom-box-item .bottom-box-price {
  font-size: 16px;
  color: #fcb941;
}
.featured .all-featured .owl-carousel .item .all-box-item .bottom-box-item .bottom-box-rates span i {
  color: #ccc;
  font-size: 13px;
}
.featured .all-featured .owl-carousel .item .all-box-item .bottom-box-item .bottom-box-rates .bottom-box-review {
  color: #ccc;
  font-size: 13px;
}

.shipping .all-shipping {
  background-image: url("https://d-themes.com/react/molla/demo-3/images/home/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
.shipping .all-shipping .shipping-text {
  background-color: #fff;
  align-items: center;
  padding: 10px;
}
.shipping .all-shipping .shipping-text .shipp-left-top {
  color: #fcb941;
  font-size: 20px;
  font-weight: 600;
}
.shipping .all-shipping .shipping-text .shipp-left-bottom {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.shipping .all-shipping .shipping-text .shipping-hr {
  width: 4px;
  height: 80px;
  background-color: rgba(102, 102, 102, 0.6588235294);
}
.shipping .all-shipping .shipping-text .right-shipping-text p {
  color: #777;
  font-weight: 300;
  margin-bottom: 0;
}
.shipping .all-shipping .shipping-text .right-shipping-text p .span-shipping-text {
  color: #333;
}
.shipping .all-shipping .shipping-text .right-shipping-text .shipping-a {
  color: #fff;
  text-decoration: none;
  background-color: #fcb941;
  padding: 0px 28px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.shipping .all-shipping .shipping-text .right-shipping-text .shipping-a:hover {
  background-color: #a17d3c;
}

.deal {
  background-color: #F4F7FF;
}
.deal .all-deal .top-deal {
  text-align: center;
}
.deal .all-deal .top-deal .top-deal-bottom {
  color: #777;
}
.deal .all-deal .bottom-deal .left-bottom-deal {
  background-image: url("https://d-themes.com/react/molla/demo-3/images/home/deal/bg-1.jpg");
  background-size: cover;
  padding: 50px;
  gap: 70px;
}
.deal .all-deal .bottom-deal .left-bottom-deal .all-deal-left-top-h2 {
  color: #ef837b;
  font-size: 20px;
}
.deal .all-deal .bottom-deal .left-bottom-deal .all-deal-left-top-h4 {
  color: #777;
  font-size: 14px;
}
.deal .all-deal .bottom-deal .left-bottom-deal .all-deal-left-center-a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: 0.5s;
}
.deal .all-deal .bottom-deal .left-bottom-deal .all-deal-left-center-a:hover {
  color: #fcb941;
}
.deal .all-deal .bottom-deal .left-bottom-deal .prod-price-1 {
  color: #ef837b;
  font-size: 20px;
}
.deal .all-deal .bottom-deal .left-bottom-deal .prod-price-2 {
  color: #ccc;
  font-size: 20px;
}
.deal .all-deal .bottom-deal .left-bottom-deal .all-deal-left-center-a-shop {
  font-size: 12px;
  color: #fcb941;
  text-decoration: none;
  position: relative;
}
.deal .all-deal .bottom-deal .left-bottom-deal .all-deal-left-center-a-shop:hover::after {
  opacity: 1;
}
.deal .all-deal .bottom-deal .left-bottom-deal .all-deal-left-center-a-shop::after {
  content: "";
  width: 100%;
  opacity: 0;
  height: 1px;
  background-color: #fcb941;
  color: #fcb941;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.5s;
}
.deal .all-deal .bottom-deal .left-bottom-deal .count-amont {
  font-size: 24px;
  color: #fff;
  background-color: #fcb941;
  padding: 5px;
  border-radius: 5px;
}
.deal .all-deal .bottom-deal .left-bottom-deal .count-period {
  font-size: 10px;
  color: #333;
  text-align: center;
}
.deal .all-deal .bottom-deal .left-bottom-deal .dots-dots {
  margin-bottom: 10px;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal {
  position: relative;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal:hover .all-sec-hover {
  opacity: 1;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal:hover .whislist-icon {
  opacity: 1;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .new-top-deal .new-pos-box-item {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 13px;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A5C76C;
  padding: 15px 10px;
  border-radius: 50%;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .new-top-deal .top-pos-box-item {
  position: absolute;
  top: 13%;
  left: 5%;
  font-size: 13px;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7DD2EA;
  padding: 15px 10px;
  border-radius: 50%;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .all-sec-hover {
  opacity: 0;
  transition: 0.5s;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .all-sec-hover .basket-sec-hover-deal {
  background-color: #333;
  height: 40px;
  width: 100%;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .all-sec-hover .basket-sec-hover-deal .left-basket-hover i {
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .all-sec-hover .basket-sec-hover-deal .left-basket-hover i:hover {
  color: #fcb941;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .all-sec-hover .basket-sec-hover-deal .hr-basket-hover {
  width: 2px;
  margin: 0;
  padding: 0;
  height: 25px;
  background-color: #fff;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .all-sec-hover .basket-sec-hover-deal .right-basket-hover i {
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .all-sec-hover .basket-sec-hover-deal .right-basket-hover i:hover {
  color: #fcb941;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .whislist-icon {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #fcb941;
  padding: 15px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 3333;
  cursor: pointer;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .whislist-icon:hover + .whislist-text-deal {
  opacity: 1;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .top-box-item-deal .whislist-text-deal {
  opacity: 0;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 12px;
  background-color: #fcb941;
  padding: 6px 30px 6px 5px;
  border-radius: 20px;
  transition: 0.5s;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .bottom-box-item {
  padding: 5px;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .bottom-box-item .bottom-box-p {
  color: #ccc;
  font-size: 13px;
  margin-bottom: 0;
  cursor: pointer;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .bottom-box-item .bottom-box-title {
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .bottom-box-item .bottom-box-price {
  font-size: 16px;
  color: #fcb941;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .bottom-box-item .bottom-box-rates span i {
  color: #ccc;
  font-size: 13px;
}
.deal .all-deal .bottom-deal .right-bottom-deal .all-box-item-deal .bottom-box-item .bottom-box-rates .bottom-box-review {
  color: #ccc;
  font-size: 13px;
}
.deal .all-deal .bottom-deal .right-bottom-deal .right-bottom-deal-left {
  background-color: #fff;
}
.deal .all-deal .bottom-deal .right-bottom-deal .right-bottom-deal-right {
  background-color: #fff;
}
.deal .all-deal .btn-deal-bottom a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 25px;
  border: 1px solid rgba(51, 51, 51, 0.2352941176);
  border-radius: 20px;
  transition: 0.5s;
}
.deal .all-deal .btn-deal-bottom a:hover {
  background-color: #fff;
  color: #fcb941;
}

.trending .all-trending .all-left-trending .top-all-left-trend h2 {
  font-size: 20px;
  color: #333;
}
.trending .all-trending .all-right-trending .tab-trending {
  overflow: hidden;
  text-align: center;
}
.trending .all-trending .all-right-trending .tab-trending .tablinks-trend {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 20px;
  transition: 0.3s;
  font-size: 14px;
  color: #777;
}
.trending .all-trending .all-right-trending .tab-trending .tablinks-trend:hover {
  border-bottom: 1px solid #fcb941;
  color: #fcb941;
}
.trending .all-trending .all-right-trending .tab-trending .tablinks-trend.active {
  border-bottom: 1px solid #fcb941;
  color: #fcb941;
}
.trending .all-trending .all-right-trending .tabcontent-trending {
  display: none;
  padding: 0 12px;
  border-top: none;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  header .top-header .container {
    max-width: inherit;
    padding: inherit !important;
    margin: inherit;
    padding: 10px 15px !important;
  }
  header .top-header .right-top-header .right-top-ul {
    display: none;
  }
  header .top-header .right-top-header .dropdown-links-mobile {
    display: block !important;
  }
  header .middle-header .menu-mobile-sidebar {
    display: block;
    position: absolute;
    top: 0 !important;
    left: -45vh;
    z-index: 33333;
    background-color: #fff;
    width: 45vh !important;
    resize: both;
    height: 100vh;
    transition: left 0.1s ease;
  }
  header .middle-header .menu-mobile-sidebar .x-logo-div {
    text-align: end;
    padding: 25px;
  }
  header .middle-header .menu-mobile-sidebar .x-logo-div .x-logo {
    font-size: 20px;
    color: #bdbdbd;
  }
  header .middle-header .menu-mobile-sidebar .search-div-sidebar {
    width: 65%;
    margin: auto;
  }
  header .middle-header .menu-mobile-sidebar .search-div-sidebar .input-search-sidebar {
    border: 1px solid #d1d1d1;
    outline: none;
    padding: 9px 35px;
    width: 100%;
  }
  header .middle-header .menu-mobile-sidebar .search-div-sidebar .input-search-sidebar:focus {
    border-color: #d19c40;
  }
  header .middle-header .menu-mobile-sidebar .search-div-sidebar .search-logo-div {
    background-color: #d19c40;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent {
    display: none;
    padding: 6px 0;
    border-top: none;
    text-align: center;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent hr {
    margin: 0;
    padding: 0;
    color: #898686;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .tab1-icons {
    margin-top: 30px;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .tab1-icons .all-tab1-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .tab1-icons .all-tab1-icons a {
    text-decoration: none;
    color: #808080;
    padding: 19px;
    border: 1px solid #808080;
    border-radius: 50%;
    position: relative;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .tab1-icons .all-tab1-icons a:hover {
    color: #d19c40;
    transition: 0.5s;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .tab1-icons .all-tab1-icons a i {
    position: absolute;
    top: 50%;
    font-size: 14px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .all-tab2 {
    margin-top: 10px;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .all-tab2 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 0;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .all-tab2 ul li {
    text-align: left !important;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .all-tab2 ul li a {
    text-decoration: none;
    color: #666;
    font-weight: 200;
    font-size: 17px;
    padding-left: 30px;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .all-tab2 ul li a:hover {
    color: #d19c40;
    transition: 0.5s;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .all-tab2 ul hr {
    margin: 0;
    padding: 0;
    color: #898686;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .accordion .accordion-item {
    border: none !important;
    outline: none !important;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .accordion .accordion-button {
    font-weight: 200;
    color: #666;
    padding-left: 30px;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .accordion .accordion-button:not(.collapsed) {
    border: none !important;
    color: #d19c40;
    background-color: #fff;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .accordion .accordion-button:focus {
    outline: none;
    box-shadow: none;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .accordion .accordion-body ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .accordion .accordion-body ul li {
    text-align: left;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .accordion .accordion-body ul li a {
    text-decoration: none;
    color: #666;
    font-weight: 200;
    padding: 0 30px;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tabcontent .accordion .accordion-body ul li a:hover {
    color: #d19c40;
    transition: 0.5s;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tab {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.4px solid #bdbdbd;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: 600;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tab .active {
    color: #d19c40 !important;
    z-index: 44444;
    position: relative;
  }
  header .middle-header .menu-mobile-sidebar .tabs-sidebar .tab .active::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #d19c40;
  }
  header .middle-header .container {
    max-width: inherit;
    padding: inherit !important;
    margin: inherit;
    padding: 10px 15px !important;
  }
  header .middle-header .container .middle-middle-header {
    display: none;
  }
  header .middle-header .container .left-middle-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  header .middle-header .container .left-middle-header .menu-responsive {
    display: block;
    margin-right: 10px;
  }
  header .bottom-header {
    display: none;
  }
  .slider-section .container {
    max-width: inherit;
    padding: inherit !important;
    margin: inherit;
    padding: 10px 15px !important;
  }
  .slider-section .container .all-slider-section {
    flex-direction: column;
  }
  .slider-section .container .all-right-slider-section {
    justify-content: center !important;
    margin-top: 20px;
    gap: 20px;
  }
  .slider-section .container .all-right-slider-section img {
    width: 100%;
  }
  .shipping .all-shipping .shipping-text {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .shipping .all-shipping .shipping-text .left-shipping-text {
    text-align: center !important;
  }
  .shipping .all-shipping .shipping-hr {
    display: none;
  }
  .shipping .all-shipping .right-shipping-text {
    flex-direction: column;
    align-items: center !important;
    gap: 15px !important;
  }
  .shipping .all-shipping .right-shipping-text .shipping-a {
    width: 70%;
  }
  .deal .bottom-deal {
    flex-direction: column;
  }
  .deal .bottom-deal .right-bottom-deal {
    justify-content: center;
  }
  .trending .all-trending {
    flex-direction: column;
  }
  .trending .all-trending .all-left-trending .bottom-all-left-trend {
    display: none;
  }
  .trending .all-trending .all-left-trending .top-all-left-trend {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  header .top-header .container {
    max-width: inherit;
    padding: inherit !important;
    margin: inherit;
    padding: 10px !important;
  }
  header .top-header .right-top-header .right-top-ul {
    display: none;
  }
  header .top-header .right-top-header .dropdown-links-mobile {
    display: block !important;
  }
  header .middle-header .container {
    max-width: inherit;
    padding: inherit !important;
    margin: inherit;
    padding: 10px !important;
  }
  header .middle-header .container .middle-middle-header {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .featured .all-featured .all-featured-tab .tablinks-featured {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 380px) {
  header .middle-header .container .right-middle-header .compare,
  header .middle-header .container .right-middle-header .wishlist {
    display: none !important;
  }
}/*# sourceMappingURL=index.css.map */